
body {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f8fc;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

#progress-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#progress-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

svg {
    display: block;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.control label {
    font-size: 14px;
    margin-right: 10px;
}

input[type="number"] {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 60px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.hidden {
    visibility: hidden;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#progress-circle-container.rotate {
    animation: rotate 2s linear infinite;
    transform-origin: center;
}



@media (min-width: 768px) {
    #container {
        max-width: 600px;
    }

    #progress-area {
        flex-direction: row;
        gap: 30px;
    }

    #controls {
        flex-direction: column;
    }
}
